body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}
#img-caption {
  margin: 15px 0 5px 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#main {
  margin: 30px 20px;
  padding: 20px;
  border-radius: 10px;
  background: #c3d5e6;
}
#headline {
  text-align: center;
}
h2 {
  font-size: large;
}

p {
  text-align: center;
  font-size: medium;
}
h3 {
  font-weight: 600;
  font-size: smaller;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  font-size: small;
}
